In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

from sklearn.metrics import roc_auc_score
# import riiideducation
# from tqdm import tqdm

In [2]:
# 한글 깨짐 방지 코드
import matplotlib
from matplotlib import font_manager, rc
import platform
if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

import warnings
warnings.filterwarnings("ignore")

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train1 = pd.read_csv('train1.csv')
train1

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,correct_answer,part,tags,tag,type_of
0,0,0,0,115,5692,0,1,3,1,0.0,False,3.0,5,151,NaN,NaN
1,1,1,56943,115,5716,0,2,2,1,37000.0,False,2.0,5,168,NaN,NaN
2,2,2,118363,115,128,0,0,0,1,55000.0,False,0.0,1,131 149 92,NaN,NaN
3,3,3,131167,115,7860,0,3,0,1,19000.0,False,0.0,1,131 104 81,NaN,NaN
4,4,4,137965,115,7922,0,4,1,1,11000.0,False,1.0,1,131 149 92,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9995,2868187305,91216,1124,0,775,0,0,18000.0,True,3.0,2,138 41 81 92,NaN,NaN
9996,9996,9996,2868272689,91216,810,0,776,0,1,18000.0,True,0.0,2,90 100 162 92 102,NaN,NaN
9997,9997,9997,2868367298,91216,1245,0,777,0,1,17000.0,True,0.0,2,148 32 38 92,NaN,NaN
9998,9998,9998,2868439137,91216,711,0,778,3,1,17000.0,True,3.0,2,129 143 30 38 92,NaN,NaN
9999,9999,9999,2868510836,91216,1123,0,779,3,1,16000.0,True,3.0,2,62 155 163 81 29,NaN,NaN