In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

from sklearn.metrics import roc_auc_score
# import riiideducation
# from tqdm import tqdm

In [2]:
# 한글 깨짐 방지 코드
import matplotlib
from matplotlib import font_manager, rc
import platform
if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

import warnings
warnings.filterwarnings("ignore")

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train2 = pd.read_csv('train1.csv')
train2

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,correct_answer,part,tags,tag,type_of
0,0,0,0,115,5692,0,1,3,1,0.0,False,3.0,5,151,NaN,NaN
1,1,1,56943,115,5716,0,2,2,1,37000.0,False,2.0,5,168,NaN,NaN
2,2,2,118363,115,128,0,0,0,1,55000.0,False,0.0,1,131 149 92,NaN,NaN
3,3,3,131167,115,7860,0,3,0,1,19000.0,False,0.0,1,131 104 81,NaN,NaN
4,4,4,137965,115,7922,0,4,1,1,11000.0,False,1.0,1,131 149 92,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9995,2868187305,91216,1124,0,775,0,0,18000.0,True,3.0,2,138 41 81 92,NaN,NaN
9996,9996,9996,2868272689,91216,810,0,776,0,1,18000.0,True,0.0,2,90 100 162 92 102,NaN,NaN
9997,9997,9997,2868367298,91216,1245,0,777,0,1,17000.0,True,0.0,2,148 32 38 92,NaN,NaN
9998,9998,9998,2868439137,91216,711,0,778,3,1,17000.0,True,3.0,2,129 143 30 38 92,NaN,NaN
9999,9999,9999,2868510836,91216,1123,0,779,3,1,16000.0,True,3.0,2,62 155 163 81 29,NaN,NaN

In [7]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      10000 non-null  int64
 1   row_id                          10000 non-null  int64
 2   timestamp                       10000 non-null  int64
 3   user_id                         10000 non-null  int64
 4   content_id                      10000 non-null  int64
 5   content_type_id                 10000 non-null  int64
 6   task_container_id               10000 non-null  int64
 7   user_answer                     10000 non-null  int64
 8   answered_correctly              10000 non-null  int64
 9   prior_question_elapsed_time     10000 non-null  float64
 10  prior_question_had_explanation  10000 non-null  bool
 11  correct_answer                  9763 non-null   float64
 12  part                            10000 non-null  int64
 13  tags                            9763 non-null   object
 14  tag                             237 non-null    float64
 15  type_of                         237 non-null    object
dtypes: bool(1), float64(3), int64(10), object(2)
memory usage: 1.2+ MB

In [8]:
train2.tag.unique()

array([ nan, 129.,  40.,  43.,  58.,  99., 164.,  30., 170.,  39.,  19.,
       161., 119.,  62.,  52.,  68.,  65.,  72.,  69., 167.,  44.,  47.,
         6.,  20.,  91., 156., 176., 108., 159., 105.,  34.,  23., 182.,
         4., 179.,  15.,  27.,  70.,  89., 142.,  64., 147.,  57., 133.,
        94., 140.,  82., 106., 128., 136., 151.,  80.,  96., 157.,  25.,
         8., 134.,  61.,  71., 114., 163., 173., 109., 141.,  26.,  49.,
        75., 113.,  79., 132.,  53., 174.,  51., 101.,  90.,   9.,  74.,
        67., 181., 180., 166., 116.,  85.,  73.,  36., 104.,  33.,   1.,
        95.,  14.,   7., 148., 178., 125.,  48.,  55.,  66.,  60., 168.,
        31., 175.,  78.])